<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <!--Linked styles & scripts-->
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
</head>
<body onload="init()">
    <span id="sketchpadApp">
        <canvas id="sketchpad" width="280" height="280" style="background-color: black;"></canvas>
        </br><input type="submit" value="Clear" onclick="clearCanvas();">
        <input type="submit" value="Predict" onclick="predict();">
        <p id="predictionText">?</p>
    </span>
    <span id="barChartApp">
        <canvas id="barChart"></canvas>
    </span>
</body>
</html>