<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <!--Linked styles & scripts-->
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <script src="../static/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body onload="init()">
    <!-- Navbar w/ link to github repo -->   
    <nav class="navbar navbar-expand-lg" style="background-color: #72aceb">
        <div class="container-fluid">
            <div class="col-6">
                <h3 class="navbar-brand" style="color:white">Handwritten Digit Recognizer</h3>
            </div>
            <div class="col-6">
                <a class="navbar-brand float-right d-none d-sm-flex" href="https://github.com/helenl122/digit-recognizer" target="_blank">
                    <img src="../static/github.png" alt="GitHub" width="45" height="45">
                </a>
            </div>
        </div>  
    </nav>

    <!-- Container with sketchpad and barchart -->
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- left section (sketchpad w/ text & buttons) -->
            <div class="col-lg-4 py-3 my-3">
                <!-- sketchpad, prediction, buttons-->
                <div class="row mx-2">
                    <div class="col-4">
                        <!-- prediction & number box -->
                        <h6 class="mx-2">Prediction:</h6>
                        <div class="border mx-4 mt-2 mb-3" style="width:3rem; height:3rem">
                            <h1 id="predictionText"></h1>
                        </div>
                        <!-- buttons -->
                        <button class="btn btn-outline-secondary btn-block px-3" onclick="clearCanvas();">Clear</button>
                        <button class="btn btn-outline-primary btn-block px-3" onclick="predict();">Predict</button>
                    </div>
                    <div class="col-8">
                        <!-- canvas sketchpad -->
                        <canvas class="img-fluid" id="sketchpad" width="280" height="280" style="background-color: black;"></canvas>
                    </div>
                </div>
                <!-- text description -->
                <div class="my-2 mx-2">
                    <p class="p-2">The recognizer uses a Convolutional Neural Network
                        (<a href="https://en.wikipedia.org/wiki/Convolutional_neural_network" target="_blank">CNN</a>)
                        trained on
                        <a href="https://en.wikipedia.org/wiki/MNIST_database" target="_blank">MNIST</a>,
                        a large image database of handwritten digits. Try writing and see if the correct digit can be classified!
                    </p> 
                </div>       
            </div>
            <!-- right section (bar chart of probabilities) -->
            <div class="col-lg-8">
                <canvas class="img-fluid my-4 pr-2" id="barChart"></canvas>
            </div>
        </div>
    </div>
</body>
</html>